@model IEnumerable<Transportes.Models.Envio>

@{
    ViewData["Title"] = "Envios";
}

<h1>Envios</h1>

<p>
    <a asp-action="Create" asp-route-tipo="1">Crear Envio Terrestre</a>
</p>
<p>
    <a asp-action="Create" asp-route-tipo="2">Crear Envio Maritimo</a>
</p>

<div class="row">
    <div class="col-md-7">
        <label class="control-label">Filtrar</label>
        <form asp-action="Search">
            <div class="form-group">
                <label class="control-label col-md-3">Nombre de Destino</label>
                <input name="numeroGuia" type="text" class="form-control col-md-4" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Tipo de Envio</label>
                <select name="TipoEnvio" class="form-control col-md-4" asp-items="ViewBag.TipoEnvio"></select>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Fecha de Registro Inicio</label>
                <input name="FechaRegistroStart" type="date" class="form-control col-md-4" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Fecha de Registro Final</label>
                <input name="FechaRegistroEnd" type="date" class="form-control col-md-4" />
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Fecha de Entrega Inicio</label>
                <input name="FechaEntregaStart" type="date" class="form-control col-md-4" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Fecha de Entrega Final</label>
                <input name="FechaEntregaEnd" type="date" class="form-control col-md-4" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Precio Inicial</label>
                <input name="PrecioStart" type="number" class="form-control col-md-4" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Precio Final</label>
                <input name="PrecioEnd" type="number" class="form-control col-md-4" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Cedula</label>
                <input name="Cedula" type="number" class="form-control col-md-4" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Nombre y/o Apellido</label>
                <input name="NombreApellido" type="text" class="form-control col-md-4" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Tipo de Producto</label>
                <input name="TipoProducto" type="text" class="form-control col-md-4" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Placa</label>
                <input name="Placa" type="text" class="form-control col-md-4" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Tipo de Vehiculo</label>
                <select name="TipoVehiculo" class="form-control col-md-4" asp-items="ViewBag.TipoVehiculo"></select>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Destino</label>
                <input name="Destino" type="text" class="form-control col-md-4" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Tipo de Destino</label>
                <select name="TipoDestino" class="form-control col-md-4" asp-items="ViewBag.TipoDestino"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="Index" type="button" class="btn btn-danger">Limpiar Filtros</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroGuia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadProducto)
            </th>
            <th>
                Tipo de Producto
            </th>
            <th>
               Destino
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroGuia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProductoNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinoNavigation.Nombre)
            </td>
            <td>
                    @{
                        var tipo = item.VehiculoNavigation.TipoVehiculo == 2 ? 1 : 2;
                    }
                    <a asp-action="Edit" asp-route-id="@item.NumeroGuia" asp-route-tipo="@tipo">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.NumeroGuia" asp-route-tipo="@tipo">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.NumeroGuia" asp-route-tipo="@tipo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
